*{
    font-family: Arial, Helvetica, sans-serif;
}

.baner, .stopka {
    background-color: Sienna;
    color: white;
    margin: 10px;
    text-align: center;
}

.lewy, .prawy {
    background-color: navajowhite;
    width: 15%;
    height: 700px;
}

.prawy{
    
}

.srodkowy {
    width: 70%;
    height: 700px;
}

img {
    width: 100%;
}

.skryp-1 {
    width: 46%;
    margin: 2%;
}

h3, p, a {
    
}