body {
    margin: 0
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    text-align: center;
    background-color: #fce4ec;
}

.naglowkowy, .stopka {
    background-color: #880e4f;
    color: white;
    padding: 10px;
}

.lewy {
    width: 50%;
    height: 600px;
    float: left;
}

.prawy {
    background-color: #880e4f;
    color: white;
    width: 40%;
    height: 500px;
    float: right;
    margin: 35px;
}