*{
    font-family: Georgia;
}

.baner-1, .baner-2 {
    background-color: navy;
    color: white;
    text-align: center;
    width: 50%;
    height: 100px;
}

.menu {
    background-color: Navy;
    margin: 20px;
}

.lewy, .prawy { 
    background-color: Silver;
    width: 550px;
}

.lewy {
    width: 70%;
    height: 30%;
}

.stopka {
    background-color: navy;
    color: white;
}