.Baner{
    background-color: #97b498;
    color: white;
    padding: 5px;
    text-align: center;
} 

.Lewy{
    background-color: #c8e6c9;
    color: #005005;
    width: 40%;
    height: 600px;
    float: left;
}

.Prawy{
    background-color: white;
    color: #005005;
    text-align: left;
    width: 60%;
    height: 600px;
    float: right;
    overflow-y: scroll;
    overflow-x: scroll;
}

.Stopka{
    background-color: #97b498;
    padding: 2px;
}

body {
    font-family: 'Garamond';
}

button {
    color: white;
    background-color: #97b498;
}