body {
    font-family: 'Helvetica';
    background-color: #ddd;
    color: #546E7A;
}

#Lewy {
    background-color: white;
    width: 50%;
    margin: 20px;
    float: left;
}

#Prawy {
    width: 30%;
    float: right;
    text-align: center;
    background-color: white;
}

#Prawy, #Lewy {
    margin: 20px;
    width: 400px;
}

#Stopka {
    background-color: #5C6BC0;
    color: white;
    margin: 1px;
    width: 100%;
    float: left;
}

h1 {
    background-color: #5C6BC0;
    color: white;
}

h3,p,h5 {
	padding-left: 30px;
}
