* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.naglowkowy, .stopki {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    margin-top: 5px;
    float: left;
}

.artykulu {
    color: dimgray;
    font-size: 150%;
    width: 350px;
}

.pierwsza, .druga, .trzecia {
    background: #00e676;
    width: 28%;
    height: 560px;
    margin-top: 2%;
}

.pierwsza {
    float: right;
}

.druga {
    float: right;
}

.trzecia {
    float: left;
}

.artykulu {
    overflow: scroll;
}