#Baner, #stopka{
    text-align: center;
    color: white;
    background-color: #3CB371 ;
    padding: 10px;
    font-size: 130%;
    align-content: center;
}

#Lewy{
    background-color:#FAEBD7 ;
    width: 55%;
    height: 450px;
    float:  left;
}

#Prawy{
    background-color:#FAEBD7 ;
    width: 45%;
    height: 450px;
    float:  right;
}


IMG {
    padding: 3px;
    margin: 15px;
    border: 3px, dashed, #3CB371;
}
