* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Boczny {
    width: 20%;
    height: 610px;
}

img {
    width: 100%;
    height: 610px;
}

.naglowkowy, .stopka, .nawigacyjny {
    background-color: mediumpurple;
    color: white;
    height: 50px;
    width: 80%;
    text-align:center ;
}

.naglowkowy {
    padding: 10px;
}

.glowny {
    background-color: thistle;
    width: 80%;
    height: 450px;
}

