* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

.boczny {
    background-color: #c5cae9;
    width: 600px;
    width: 40%;
    overflow: scroll;
}

.sekcja1, .sekcja2 {
    width: 300px;
    width: 60%;
    float: right;
}

.sekcja1 {
    background-color: #9FA8DA;
}

.sekcja2 {
    background-color: #7986CB;
}

.stopki {
    background-color: #283593;
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 15px;
}

h3 {
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}