* {
    font-family: century;
    text-align: center;
}

.baner, .stopka {
    background-color: indigo;
    color: white;
    font-style: oblique;
    margin: 2px;
}

.blok-1, .blok-2, .blok-3, .blok-4 {
    width: 50%;
    height: 470px;
}

img {
    margin: 3px;
    margin-top: 10px;
}

a {
    color: white;
}

button {    
    background-color: slateblue;
    color: white;
    margin: 10px,10px,20px,20px ;
    margin-top: 10px;
}