body{
    font-family: Helvetica;
}

.baner, .stopka {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 30px ;
    text-align: center;

}
.glowny {
    background-color: rgb(176, 196, 222);
    padding: 50px;
    text-align: center;

}

.lewy {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px ;
    width: 80%;
    float: left;
}

.prawy {
    float: right; 
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px ;
    width: 20%;
}

.lewy img {
    height: 40%;
 
}

.lewy img:hover {
    border: 1px solid white;
}

.glowny img {
    padding: 3px;
    border: 1px dashed blue;
    border-radius: 10px;
}

